body {
    background-color: brown;
}
header {
    height: 40px;
    padding-top: 1px;
}
nav ul {

    list-style: none;
}

nav ul li {
    float: left;
    width: 100px;
    border: 1px solid blue;
    padding: 5px;
    text-align: center;

}
nav ul li:hover {
    color: white;
}

header {
background-color: blanchedalmond;
}